@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

* {
    margin:0; 
    padding: 0;

}
.first-section {
background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8; 
}

body {
    font-family: 'Roboto Slab', serif;

}


.header-link {
    font-size: 18px;
    color: #e5e7eB;
    margin: 10px; 
}

.navbar {
    display: flex;
    flex-direction: row;
}


ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 40px; 
    font-weight: bolder; 
    color: #f9faf8;
}

.content {
    display:flex;
    flex-direction: row;
    margin: 50px;
}


.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}


.content-left {
    display: flex;
    flex-direction: column; 
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
img {
    margin: 50px;
    max-width: 400px
}

p-first {
    margin-left: 40px;
    color: #e5e7eB;
    margin-left: 90px; 

    
}

.sign-up-first { 
    background-color:#3882f6;
    color: white;
    width: 100px;
    height: 25px;
    border: 5px #000000; 
    border-radius: 20px;
}