* {
    padding: 0;
    margin: 0;
}

.header {
        color: white;
        background-color: #1f2937;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px

}

.ul {
    display: flex;
    list-style: none;
    gap: 20px
}

.a {
    text-decoration: none; 
    color: white;
}

.title { 
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8
}


.titlesub { 
    font-size: 18px; 
    color: #E5E7EB;
}

.headerbody {
    display: flex;
    max-height: 24px;
}

.hbright {
    max-height: 250px;
}

img {
    max-height: 200px;
}